body {
  margin: 0 auto;
}
h1 {
  text-align: center;
  flex: 1;
}
.stream {
  font-size: 30px;
  font-weight: 700;
  color: brown;
}
header {
  display: flex;
  align-items: center;
  background-color: darkmagenta;
  min-height: 100px;
  max-width: 100%;
  margin-top: -20px;
}
img {
  height: 70px;
  width: 70px;
}
footer {
  background-color: blueviolet;
  min-height: 50px;
  max-width: 100%;
}
.ft {
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
}
.iconic {
  width: 960px;
  height: 540px;
}
